/**
 * -------------------------------------------------------------------
 * #NAV-LINK
 * -------------------------------------------------------------------
 */

.c-nav-link,
.c-nav-link:link,
.c-nav-link:visited {
  @apply --font-style-headings;

  font-size: 1.5em;
  line-height: 1;
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.c-nav-link.is-active,
.c-nav-link:hover,
.c-nav-link:focus {
  color: var(--color-theme-1);
  transition: color 0.3s ease-out;
}
