/**
 * -------------------------------------------------------------------
 * #SPACING
 * -------------------------------------------------------------------
 */

.u-mt-0 {
  margin-top: 0;
}

.u-mt-tiny {
  margin-top: var(--spacing-unit-tiny);
}

.u-mt-small {
  margin-top: var(--spacing-unit-small);
}

.u-mt-normal {
  margin-top: var(--spacing-unit-normal);
}

.u-mt-large {
  margin-top: var(--spacing-unit-large);
}

.u-mt-huge {
  margin-top: var(--spacing-unit-huge);
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-tiny {
  margin-bottom: var(--spacing-unit-tiny);
}

.u-mb-small {
  margin-bottom: var(--spacing-unit-small);
}

.u-mb-normal {
  margin-bottom: var(--spacing-unit-normal);
}

.u-mb-large {
  margin-bottom: var(--spacing-unit-large);
}

.u-mb-huge {
  margin-bottom: var(--spacing-unit-huge);
}

.u-pt-0 {
  padding-top: 0;
}

.u-pt-tiny {
  padding-top: var(--spacing-unit-tiny);
}

.u-pb-0 {
  padding-bottom: 0;
}
