:root {
  --icon-width: 54px;
  --icon-height: 54px;
  --icon-half-width: 27px;
  --icon-bun-thickness: 2px;
  --icon-bun-space: 5px;
  --icon-padding: 12px;

  /* documents */
  --icon-document-width: 1.2em;
  --icon-document-height: 1.6em;
  --icon-document-inner-width: 0.8em;
  --icon-document-inner-height: 0.4em;
  --icon-document-border: 0.15em;
  --icon-document-space: 0.2em;
}
