/**
 * ------------------------------------------------------------------
 *   #SPACING
 * ------------------------------------------------------------------
 */

:root {
  --spacing-unit-normal: calc(1rem * var(--line-height-core));
  --unit-tiny: 0.3333;
  --unit-small: 0.5;
  --unit-large: 1.5;
  --unit-huge: 2;
  --spacing-unit-tiny: calc(var(--spacing-unit-normal) * var(--unit-tiny));
  --spacing-unit-small: calc(var(--spacing-unit-normal) * var(--unit-small));
  --spacing-unit-large: calc(var(--spacing-unit-normal) * var(--unit-large));
  --spacing-unit-huge: calc(var(--spacing-unit-normal) * var(--unit-huge));
}
